@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    background-color: #f1ffef;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

html {scroll-behavior:smooth;}

.disabled{
    pointer-events: none;
}

img{
    max-width: 100%;
    height: auto;
}

.katalog-content > img , .berita-content > img {
    max-width: 100%;
    height: auto;
}

 /* Dari */
 
.tengah{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 /* DASHBOARD */
 .panel-back {
    background-color:#F8F8F8;
 }
 
 .noti-box {
 min-height: 100px;
 padding: 10px;
 }
 
 .noti-box .icon-box {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    width: 70px;
    height: 70px;
    line-height: 75px;
    text-align: center;
    font-size: 40px;
 }
 
 .set-icon {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;   
 }
 
 .bg-color-blue {
    background-color: #A95DF0;
    color: #fff;
 }
 
 .bg-color-purple {
    background-color: #6d7fcc;;
    color: #fff;
 }
 
 .text-box p{
    text-transform: uppercase;
    font-weight: bold;
    transform: translateY(50%);
 }
 
 .text-box a{
    text-decoration: none;
    color: black;
 }
 /* /DASHBOARD */
 
 .geser-atas{
    margin-top: -30px;
 }
 
 .menu-icon{
    font-size:14px;
    margin: 5px 5px 5px 0;
    text-transform: uppercase;
 }
 
 .menu-item{
    font-size:14px;
    margin-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
 }
 

 /* sidebar  */
 #sidebar{
    width: 230px;
    position: fixed;
    /* position:relative 
    top:0px;*/
    top: 65px;
    height:100vh;
    background: rgb(28, 29, 36);
    color:white;
    transition: all 0.5s;
 }
 
 #nav-atas{
    position: fixed;
    /* position:relative */
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 #sidebar ul li a{
    padding: 10px;
    padding-left: 10px;
    margin-top: 3px;
    font-size: 0.9em;
    display: block;
    color: white;
    text-decoration: none;
 }
 
 #sidebar ul li a:hover {
    background: #20282e;
 }
 
 a[data-toggle="collapse"] {
    position: relative;
 }
 
 .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
 }
 
 ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(28, 29, 36);
 }
 
 /* Content */
 #content {
    width: calc(100% - 230px);
    padding: 0px;
    min-height: 100vh;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    right: 0;
 }
 
 #content.active {
    width: 100%;
 }
 
 #sidebar.active {
    margin-left: -230px;
 }
 
nav, footer{
    font-family: 'Poppins', 'sans-serif';
    background-color:#42B883;
    color: #fff;
    font-weight: 700;
    box-shadow: 0px 4px 4px 0px rgba(153,152,152,0.75);
    -webkit-box-shadow: 0px 4px 4px 0px rgba(153,152,152,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(153,152,152,0.75);
}

.bg-utama{
    background-color:#42B883;
}


.cs:hover{
    box-shadow: 0px 0px 50px 2px rgba(153,152,152,0.75);
    -webkit-box-shadow: 0px 0px 50px 2px rgba(153,152,152,0.75);
    -moz-box-shadow: 0px 0px 50px 2px rgba(153,152,152,0.75);
    
    }


.btn-gl{
    background-color: #57CC99;
    color:#fff
}


.carousel-control-prev, .carousel-control-next{
    width: 50px;
    height:50px;
    background-color: #42B883;
    border-radius: 50%;
    top:calc(50% - 25px);
    opacity: 1.5;
}

.carousel-control-prev{
    left: 2%;
}

.carousel-control-next{
    right:2%;
}

#berita{
    margin-top: 30px;
}

.r-20{
    border-radius: 20px;
}

#katalog-spesies{
    margin-top: 50px;
}
.bamboo, .berita , .profil{
    position: absolute;
    bottom:0;
    padding: 20px;
}

.bamboo{
    background-color: antiquewhite;
}

.berita{
    background-color: rgb(241, 227, 28);
}

.profil{
    background-color: rgb(142, 255, 221);
}

.bamboo img, .berita img, .profil img{
    width: 30px;
    height: 30px;
}


#about{
    background-color: antiquewhite;
}

.m-responsive{
    margin-top: 40px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    font-size: 20px;
    font-weight: 800;
    background-color: transparent;
    border-bottom: 6px solid #70B17E;
    color: #70B17E;
}

.nav-pills .nav-link, .nav-pills .show>.nav-link {
    font-size: 20px;
    font-weight: 800;
    color: #424242;
    background-color: transparent;
    border-bottom: 1px solid #424242;
    border-radius: 0%;
}

#back-to-top.back-btn-shown {
    right: 30px;
    opacity: 1;
    visibility: visible;
}

#back-to-top:hover {
    background-color: #f1ae44;
    color: #fff;
    border-color: #f1ae44;
}
   

#back-to-top {
    position: fixed;
    right: -150px;
    bottom: 40px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 40px rgb(82 85 90 / 20%);
    color: #424242;
    font-size: 20px;
    transition: all 0.4s;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    border: 1px solid #ddd;
}


@media (max-width: 576px) {  
    .small-devices {
        display: none;
    }

    .m-responsive{
        margin-top: 0;
    }
}

@media(max-width:768px){
    
    #sidebar {
        width: 150px;
        height:100vh;
        margin-top: -50px;
    }
    #sidebar.active {
        margin-left:-150px;
    }
    #content {
        width: calc(100% - 180px); 
    }
    #content.active {      
        width: 100%;
    }
}





 